:root{
    --primary-color: rgb(0, 105, 129);
    --secondary-color: rgb(3, 182, 222);
    --tertiary-color: white;
    --wrong-answer: rgb(255, 0, 0);
    --correct-answer: rgb(0, 255, 0);
    --btn-border-radius: 15px;
}
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
}
#quiz-container {
    width: 80%;
    background-color: var(--secondary-color);
    height: 800px;
    margin: 100px 0;
}
#test-info{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

#test-info div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#quiz-section {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quiz-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#quiz-menu div{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: var(--tertiary-color);
    padding: 10px 7px;
    border-radius: var(--btn-border-radius);
}

#quiz-questions{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.quiz {
    width: 90%;
    height: 80%;
}

#question-container {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#answer-container{
    width: 50%;
    height: 75%;
}
#question-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#results{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
}
.answer-results{
    color: var(--tertiary-color);
    text-align: center;
    margin: 5px 0;
    padding: 2px 5px;
    border: 2px solid black;
    border-radius: 15px;
}

#result-form{
    width: 60%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#name {
    height:40px;
    border: 1.5px solid black;
    border-radius: 15px;
    margin-right: 3px;
    text-align: center;
    font-size: 20px;
}
#submit-button{
    background-color: var(--tertiary-color);
    padding: 10px 7px;
    border-radius: var(--btn-border-radius);
}